

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 60%;
}

h1{
    font-size: 6rem;
    color: #373737;
}

h2{
    color: #030303;
    font-size: 2rem;
}

h3{
    font-size: 1.8rem;
    font-weight: 200;
    
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

p{
    color: #777777;
    line-height: 1.5;
    font-size: 2.5rem; 
}


/*  */
/* col {
    e
} */
/*  */

.srction{
    padding: 9rem 0;
}

.grid{
    display: grid;
    gap: 9rem;
}

.grid-two-column{
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-column{
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-column{
    grid-template-columns: repeat(4, 1fr);
}

.grid-six-column{
    grid-template-columns: repeat(6, 1fr);
}

.container{
    max-width: 140rem;
    margin: 0 auto;
}

.btn{
    background-color: transparent;
    padding: 10px 15px;
    border: none;
    color: #3CC7C6;
    font-size: 18px;
    cursor: pointer;
}



/* NAV */
header{
    padding: 0 4.5rem;
    height: 8rem;
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    height: 3rem;
}

.navbar-list{
    display: flex;
    gap: 4rem;
}

.navbar-link:link,
.navbar-link:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 2rem;
    color: #333333;
    transition: color 0.3s linear;
}

.navbar-link:hover,
.navbar-link:active{
    color: #3CC7C6;
}




/* Hero */
.section-hero{
    background-color: #F4F4F4;
    padding: 50px;
}

.section-hero-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-heading{
    font-weight: 200;
    font-size: 5rem;
}

.hero-para{
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 50rem;
    font-weight: 200;
}

.hero-img{
    max-width: 75%;
}

.section-hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.learn-btn:hover{
    color: #333333;
}

/* About */
.section-abou{
    background-color: #fff;
    padding: 40px;
}

.section-about-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img{
    max-width: 75%;
}

.section-about-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-heading{
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 50rem;
    font-weight: 300;
    transition: 0.5s;
}

.about-heading:hover{
    color: #3CC6C5;
}

.about-pera{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: 1.2rem !important;
    font-weight: 300;
    font-size: 1.8rem;
}

/* learn */
.learn-img{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.learn-img img{
    width: 85%;
    margin: 1.5rem 0;
}

.learn-data{
    margin: 10rem 0;
}

.section-learn{
    background-color: #F6F6F6;
}

.learn-heading{
    font-weight: 200;
    font-size: 5rem;
}

.leran-para{
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 50rem;
    font-weight: 200;
}

.grid-learn-learn{
 display: flex;
 margin-bottom: 2rem;
}

.grid-grid{
    margin: 1rem 1rem;
}

.grid-grid-heading{
    font-size: 1.8rem;
    color: #444444;
    font-weight: 400;
    margin: 1rem 0;
}

.grid-grid-para{
    font-size: 1.3rem;
}

.btn-btn{
    padding: 2rem 2,5rem;
    background-color: #3CC6C5;
    color: #fff;
}

.btn-btn:hover{
    border: 1px solid #3CC6C5;
    background-color: transparent;
    color: #3CC6C5;
}


/* Portfolio */
.section-portfolio{
    background-color: white;
    transition: all 0.1s linear;
}

.port-head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 200;
    font-size: 5rem;
    color: #3b3b3b;
}

.port-para{
    margin-bottom: 5px !important;
}

.p-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 4rem 4rem;
    
}

.portfolio-images{
    gap: 1rem;
    margin-bottom: 1rem;
}

.portfolio-images img{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.img-overlay{
     position: relative;
     overflow: hidden;
}

.img-overlay .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #313030;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: all 0.3s linear;
}

.overlay-heading{
    color: #fff;
}

.overlay-para{
    color: #fff;
    font-size: 1.5rem;
}

.img-overlay:hover > .overlay{
    transform: translateY(0);
    opacity: 0.8;
    cursor: pointer;
}

.p-btn{
    color: #313030;
}

.p-btn:hover{
    background-color: #F5F5F5;
}

/* client */
.section-client{
    background-color: white;
    transition: all 0.1s linear;
}

.client-para{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.img-client img{
    width: 100%;
    position: relative;
    cursor: pointer;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* company */
.section-company{
    background-color: #22313F;
    padding: 1rem 1rem;
}

.com-head{
    color: #fff;
    padding-top: 1.5rem;
}

.com-para{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    margin-bottom: 2rem;
}

.img-company{
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #1D2B36;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1rem;
    margin-bottom: 2rem;
}

.section-images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.img-company img{
    width: 25%;
    position: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9rem;
    margin-bottom: 2rem;
}

.com-head2{
    color: #fff;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.com-para2{
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
    font-size: 1.3rem;
}


/* latest */
.section-latest-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-latest-img img{
    width: 80%;
    gap: 0;
    margin: 2rem 2rem;
}


.lat-para{
    font-size: 1.5rem;
    color: #444444;
    font-weight: 400;
    margin: 0 1.6rem;
    
}

