

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

h1{
    font-size: 6rem;
    color: #373737;
}

h2{
    color: #030303;
    font-size: 2rem;
}

h3{
    font-size: 1.8rem;
    font-weight: 200;
    
}

h4{
    font-size: 1.5rem;
    font-weight: 200;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

p{
    color: #777777;
    line-height: 1.5;
    font-size: 2.5rem; 
}


/*  */
/* col {
    e
} */
/*  */

.srction{
    padding: 9rem 0;
}

.grid{
    display: grid;
    gap: 9rem;
}

.grid-two-column{
    grid-template-columns: repeat(2, 1fr);
}

.grid-three-column{
    grid-template-columns: repeat(3, 1fr);
}

.grid-four-column{
    grid-template-columns: repeat(4, 1fr);
}

.grid-five-column{
    grid-template-columns: repeat(5, 1fr);
}

.grid-six-column{
    grid-template-columns: repeat(6, 1fr);
}

.container{
    max-width: 140rem;
    margin: 0 auto;
}

.btn{
    background-color: transparent;
    padding: 10px 15px;
    border: none;
    color: #3CC7C6;
    font-size: 18px;
    cursor: pointer;
    transition: 0.6s;
}



/* NAV */
.header{
    padding: 0 4.5rem;
    height: 8rem;
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    height: 3rem;
}

.navbar-list{
    display: flex;
    gap: 4rem;
}

.navbar-link:link,
.navbar-link:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 2rem;
    color: #333333;
    transition: color 0.3s linear;
}

.navbar-link:hover,
.navbar-link:active{
    color: #3CC7C6;
}

.mobile-navbar-btn{
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.mobile-nav-icon[name="close-outline"]{
    display: none;
}


/* Hero */
.section-hero{
    background-color: #F4F4F4;
    padding: 50px;
}

.section-hero-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    animation: slideUp 3s ease-in-out;
    
}

@keyframes slideUp {
    from {
        transform: translateY(300px);
    }
    to {
        transform: 0;
    }
}


.hero-heading{
    font-weight: 200;
    font-size: 5rem;
}

.hero-para{
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 50rem;
    font-weight: 200;
}

.hero-img{
    max-width: 75%;
}

.section-hero-img{
    display: flex;
    justify-content: center;
    align-items: center;

    animation: slideInRight 3s ease-in;
}

@keyframes slideInRight {
    from {
        transform: translateX(300px);
    }
    to {
        transform: 0;
    }
}

.learn-btn:hover{
    color: #333333;
}

/* About */
.section-about{
    background-color: #fff;
    padding: 40px;
}

.section-about-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img{
    max-width: 75%;
}

.section-about-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-heading{
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 50rem;
    font-weight: 300;
    transition: 0.5s;
}

.about-heading:hover{
    color: #3CC6C5;
}

.about-pera{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: 1.2rem !important;
    font-weight: 300;
    font-size: 1.8rem;
}

/* learn */
.learn-img{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.learn-img img{
    width: 85%;
    margin: 1.5rem 0;
}

.learn-data{
    margin: 10rem 0;
}

.section-learn{
    background-color: #F6F6F6;
}

.learn-heading{
    font-weight: 200;
    font-size: 5rem;
}

.leran-para{
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 50rem;
    font-weight: 200;
}

.grid-learn-learn{
 display: flex;
 margin-bottom: 2rem;
}

.grid-grid{
    margin: 1rem 1rem;
}

.grid-grid-heading{
    font-size: 1.8rem;
    color: #444444;
    font-weight: 400;
    margin: 1rem 0;
}

.grid-grid-para{
    font-size: 1.3rem;
}

.btn-btn{
    padding: 2rem 2,5rem;
    background-color: #3CC6C5;
    color: #fff;
    transition: 0.6s;
    
}

.btn-btn:hover{
    border: 1px solid #3CC6C5;
    background-color: transparent;
    color: #3CC6C5;
    
}


/* Portfolio */
.section-portfolio{
    background-color: white;
    transition: all 0.1s linear;
}

.port-head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 200;
    font-size: 5rem;
    color: #3b3b3b;
}

.port-para{
    margin-bottom: 5px !important;
}

.p-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 4rem 4rem;
    
}

.portfolio-images{
    gap: 1rem;
    margin-bottom: 1rem;
}

.portfolio-images img{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.img-overlay{
     position: relative;
     overflow: hidden;
}

.img-overlay .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #313030;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: all 0.3s linear;
}

.overlay-heading{
    color: #fff;
}

.overlay-para{
    color: #fff;
    font-size: 1.5rem;
}

.img-overlay:hover > .overlay{
    transform: translateY(0);
    opacity: 0.8;
    cursor: pointer;
}

.p-btn{
    color: #313030;
    transition: 0.6s;
}

.p-btn:hover{
    background-color: #F5F5F5;
}

/* client */
.section-client{
    background-color: #F6F6F6;
    transition: all 0.1s linear;
    height: 50vh;
}

.client-para{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

.img-client img{
    width: 100%;
    position: relative;
    cursor: pointer;
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.img-client img:hover{
    background-color: white;
}

/* company */
.section-company{
    background-color: #22313F;
    padding: 1rem 1rem;
}

.com-head{
    color: #fff;
    padding-top: 1.5rem;
}

.com-para{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    margin-bottom: 2rem;
}

.img-company{
    background-color: #1D2B36;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    margin-bottom: 2rem;
}

.section-images{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-company img{
    width: 25%;
    position: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9rem;
    margin-bottom: 2rem;
}

.com-head2{
    color: #fff;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.com-para2{
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
    font-size: 1.3rem;
}


/* latest */
.section-latest{
    background-color: #F6F6F6;
}

.lat-lat{
    background-color: #FFFFFF;
    padding: 1rem 1rem;
    width: 100%;
}

.section-latest-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-latest-img img{
    width: 80%;
    gap: 0;
    margin: 2rem 2rem;
}


.lat-para{
    font-size: 1.5rem;
    color: #444444;
    font-weight: 400;
    margin: 0 1.6rem;
    
}


/* testimonial */
.testimonial-section{
    color: rgb(252, 252, 252);
    margin-top: 30px;
    background-blend-mode: darken;
    background: rgba(13, 31, 49, 0.9)url(../image/images.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px; 
    background-position: center;
}

.testimonial{
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    row-gap: 30px;
}

.test-head{
    text-align: center;
    align-items: center;
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: 300;
    color: #FFFFFF;
}

.test-para1{
    text-align: center;
    padding: 0 100px;
    font-size: 15px;
    font-weight: 200;
    color: aliceblue;
}

.test-para2{
    text-align: center;
    padding: 0 100px;
    font-size: 15px;
    font-weight: 100;
    color: aliceblue;
}

.test-head2{
    text-align: center;
    padding: 0 100px;
    font-size: 15px;
    font-weight: 300;
    color: aliceblue;
    margin-bottom: 10px;
}

.test-head3{
    text-align: center;
    padding: 0 100px;
    font-size: 15px;
    font-weight: 200;
    color: aliceblue;
    margin-bottom: 10px;
}

/* perfect */
.per-head{
    color: #252525;
    font-weight: 200;
}

.perfect-img{
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    gap: 2rem;
}

.per-para1{
    color: #222121;
    font-weight: 200;
    font-size: 2rem;
}

.per-para2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #222121;
    font-weight: 200;
    font-size: 1.8rem;
}

.perfect-img1{
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}


/* footer */
.footer-section{
    background-color: #202020;
    transition: all o.7s linear;
}

.foot{
    margin: 1rem 1.5rem;
}

.footer-section h2{
    color: #F5F5F5;
    margin-bottom: 1rem;
    font-size: 2.2rem;
    padding: 1rem 0;
    text-transform: uppercase;
}

.f-img img{
    width: 75%;
    padding: 2rem 1rem;
}

.f-para{
    font-size: 1.5rem;
    text-align: center;
}

.para1{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.int-para{
    color: #777777;
    font-size: 2em;
    cursor: pointer;
    transition: all o.4s linear;
    font-weight: 200;
}

.int-para:hover{
    color: #2680A7;
}

.cmnt-boc{
    background-color: #363535;
    border: 1px solid black;
    padding: 1rem 1rem;
    margin: 1rem 0;
    
}

.cmnt-boc a{
    text-decoration: none;
    list-style: none;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
}

.cmnt-boc a:hover{
    color: #2680A7;
}

.f-credit{
    background-color: black;
}

.f-social-icons{
    margin: 0 2rem;
    text-align: center;
}

.f-social-icons img{
    width: 3rem;
    height: 3rem;
    background-color: #333333;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    transition: 0.6s;
}

.f-social-icons img:hover{
    background-color: #fff1f1;
    
}

.f-credits p{
    font-size: 1.6rem;
    padding: 1rem 1rem;
    text-align: center;
    color: #aca7a7;
}


/*
    Media quaries
 */


/* RESPONSIVE */

@media (max-width: 3000px){
    .container{
        max-width: 2900;
        padding: 0 30px;
    }
    .logo{
        margin: auto;
    }

    .navbar{
        margin: auto;
    }
    .foot{
        margin: auto;
    }
}

@media (max-width: 1500px){
    .container{
        max-width: 1300;
        padding: 0 30px;
    }

    .navbar-list{
        gap: 3rem;
    }
    .f-credit{
        max-width: 100%;
    }
    .perfect-img{
        margin-top: 2rem;
    }
    
}

@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
    .container{
        max-width: 1100px;
    }
    .grid{
        gap: 4.5rem;
    }
    
}

@media (max-width: 990px){
    html{
       font-size: 50%; 
    }

    .header{
        position: relative;
    }
    .mobile-navbar-btn{
       display: block;
       z-index: 9999;
       border: 3px solid #030303;
       color: #030303; 
    }

    .mobile-nav-icon{
        width: 150%;
        height: 150%;
        color: #030303;
        padding: 1rem 1rem;
    }
    
    .header .logo{
        width: 15%;
    }

    .navbar{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #2680A7;
        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        transition: all o.5s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 999;

    }
    .navbar-list{
        flex-direction: column;
        align-items: center;
    }

    .navbar .navbar-list .navbar-link:link,
    .navbar .navbar-list .navbar-link:visited{
        color: #ffffff;
        font-size: 2rem;
        font-weight: 200;
    }

    .active{
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn .mobile.mobile-nav-icon[name="menu-outline"]{
        display: none;
    }

    .active .mobile-navbar-btn .mobile.mobile-nav-icon[name="close-outline"]{
        display: block;
    }

    .grid-four-column{
        grid-template-columns: repeat(2,1fr);
    }

    .footer-section .grid-five-column{
        grid-template-columns: repeat(3, 1fr);
    }
    .f-img img{
        width: 50%;;
    }
    .portfolio-images img{
        width: 100%;;
    }
    .grid-two-column img{
        width: 75%;
    }
    .img-company img{
        margin-left: 7.5rem;
    }
}

@media(max-width: 780px){
    .container{
        max-width: 750px;
    }
    .grid-two-column{
        grid-template-columns: 1fr;
    }
    .section-hero-data{
        align-items: center;
    }
    .hero-img img{
        width: 70%;
    }
    .learn-img img{
        width: 50%;
    }
    .section-about .grid-three-column{
        grid-template-columns: repeat(2, 1fr);
    }
    .img-company img{
        margin-left: 5rem;
    }
    .section-company .grid-four-column{
        grid-template-columns: 1fr 1fr;
    }
    .perfect-img1 img{
        width: 75%;
    }
}

@media (max-width: 560px){
    .container{
        max-width: 500;
    }
    .header{
        padding: 0 3rem;
    }
    .header .logo{
        width: 30%;
    }
    .hero-img img{
        width: 100%;
    }
    .grid-two-column{
        grid-template-columns: 1fr;
    }
    .footer-section .grid-five-column{
        grid-template-columns: 1fr;
    }
    .section-latest .grid-three-column{
        grid-template-columns: 1fr;
    }
    .section-portfolio .grid-four-column{
        grid-template-columns: 1fr;
    }
    .section-about .grid-three-column{
        grid-template-columns: 1fr;
    }
    .hero-img img{
        width: 90%;
    }
    .img-company img{
        margin-left: 2rem;
    }
    .p-btns{
        display: inline-block;
    }
}
